#login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    .container-login{
        margin-top: 20vh;
        display: flex;
        flex-direction: column; 
        width: 332px;

        h1{
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 30px;
        }

        button{
            background-color: $blue-dark;
            height: 38px;
            font-size: 16px;
            border-radius: 25px;
            font-weight: 400;
            color: $white;
            text-transform: uppercase;
        }
        
        span{
            margin-top: 20px;
            text-align: center;
            font-weight: 400;
            position: relative;

            &::before{
                content: '';
                border-bottom: 1px solid rgba($black, 0.1);
                position: absolute;
                width: 41%;
                top: 10px;
                left: 0;
                margin-left: 10px;
            }
            &::after{
                content: '';
                border-bottom: 1px solid rgba($black, 0.1);
                position: absolute;
                width: 41%;
                top: 10px;
                right: 0;
                margin-right: 10px;
            }
        }

        a{
            margin-top: 25px;
            border: 3px solid $black;
            border-radius: 25px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-size: 14px;
            transition: 0.3s;

            &:hover{
                transition: 0.3s;
                background-color: $black;
                color: $white;
            }
        }
    }
}