#cards{
    .title-section-card{
        font-size: 35px;
        font-weight: 200;
        color: $black;
    }
    .group-title-and-inventory{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        
        h2{
            margin-right: 50px;
        }
        .view-more{
            display: flex;
            align-items: center;
            svg{ margin-left: 10px;}
        } 
    }
    
    .container-cards{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        grid-gap: 50px;
        margin-bottom: 100px;
    }

    /* SEARCH */
    .container-search{
        display: flex;
        margin-bottom: 40px;
        gap: 20px;

        .search{
            border: 1px solid rgba($grey-dark, 0.4);
            border-radius: 25px;
            padding: 10px;
            display: flex;
            align-items: center;
            position: relative;
            width: 100%; 
            img{
                position: absolute;
            }
            input{
                padding-left: 40px;
                width: 100%;
                font-size: 16px;
                font-weight: 500;
            }
        }
        button{
            background-color: $blue;
            padding: 10px 20px;
            cursor: pointer;
            color: $white;
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            border-radius: 25px;
            width: 150px;
        }
    }

    /* CAR MODELS */
    .models-wrapper{
        margin-bottom: 40px;
        
        h2{    margin-bottom: 10px;    }
        .container-models-car{
            width: 100%;
            .model-car-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{    margin-top: 5px;   }
                user-select: none;
            }
            .circle-vehicle-model{
                cursor: pointer;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                border: 1px solid rgba($black, 0.3);
                display: flex;
                align-items: center;
                justify-content: center;
                .imamge-vehicle{
                    background-image: url("/img/models/cars.png");
                    width: 75px;
                    height: 32px;
                    position: relative; 
                }
            }
        }
    }
}
// CARD
.card{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 12px -4px rgba(black, 0.20);
    border-radius: 30px;

    .card-info{
        padding: 40px;
        color: $black;

        h4{
            color: $black;
            font-size: 25px;
            margin-bottom: 5px;
        }

        span{
            font-size: 30px;
            font-weight: 100;
        }
    }

    .btn-group{
        margin-top: 20px;
        display: flex;
        align-items: center;

        a:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $blue;
            color: $white;
            width: 80px;
            height: 30px;
            text-align: center;
            text-transform: uppercase;
            border-radius: 25px;
            margin-right: 20px;
            box-shadow: 0px 4px 12px -4px rgba(black, 0.20);
        }
    }
}