#carpay{
    padding-top: 100px;
    

    /* CARD */
    .card-container{
        margin: 0 50px;
        margin-bottom: -70px;
        position: relative;
        height: 250px;
        width: 400px;
        text-transform: uppercase;

        /* FRONT CARD */
        .front-card{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0; left: 0;
            border-radius: 5px;
            backface-visibility: hidden;
            box-shadow: 0 15px 25px rgba(0,0,0,0.2);
            background: linear-gradient(222deg, rgba(41,128,185,1) 0%, rgba(44,62,80,1) 100%);
            transform: perspective(1000px) rotateY(0deg);
            padding: 20px;
            transition: transform .4s ease-out;

            .card-number-box{
                padding: 30px 0;
                font-size: 22px;
                color: white;
            }

            .container-card-info{
                display: flex;

                .card-info:nth-child(1){
                    margin-right: auto;
                }
                .card-info{
                    font-size: 15px;
                    color: white;
                }
            }

            /* IMAGE CARD FRONT */
            .image-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 10px; 

                .chip-card{
                    display: block;
                    position: relative;
                    width: 60px;
                    height: 45px; 
                    background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
                    border-radius: 8px;

                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        border: 4px solid rgba(128, 128, 128, 0.1);
                        width: 80%;
                        height: 70%;
                        border-radius: 5px;
                    }
                }
                img{ height: 50px;}
            }
        }

        /* BACK CARD */
        .back-card{
            position: absolute;
            top: 0; left: 0;
            height: 100%;
            width: 100%; 
            background: linear-gradient(222deg, rgba(41,128,185,1) 0%, rgba(44,62,80,1) 100%);
            border-radius: 5px;
            padding: 20px 0;
            text-align: right;
            backface-visibility: hidden;
            box-shadow: 0 15px 25px rgba(0,0,0,.2);
            transition: transform .4s ease-out;
            transform: perspective(1000px) rotateY(180deg);

            .stripe{
                background: #000;
                width: 100%;
                height: 100%;
                margin: 10px 0;
                height: 50px;
            }

            .card-info-cvv{
                padding: 0 20px;
            
                span{ color: white; font-size: 15px;}
                
                .cvv-box{
                    height: 50px;
                    padding: 10px;
                    margin-top: 5px;
                    color: #333;
                    background: white;
                    border-radius: 5px;
                    width: 100%;
                    font-size: 15px;
                }

                img{ margin-top: 30px; height: 30px; }
            }

        }
    }


    /* CARD FORM */
    .form-card{
        box-shadow: rgb(145 158 171 / 24%) 0px 0px 0px 0px, rgb(145 158 171 / 24%) 0px 0px 16px;
        border-radius: 20px;
        border: 1px solid rgb(230, 230, 230);
        padding: 20px;
        max-width: 500px;
        text-transform: uppercase;
        padding-top: 100px;

        .inputBox { 
            margin-bottom: 20px;

            label{ 
                display: block;
                font-size: 14px;
                font-weight: 500;
                color: rgb(107, 107, 107);
            }
            input{
                margin-top: 5px;
                border: 1px solid rgb(194, 194, 194);
                width: 100%;
                border-radius: 20px;
                padding: 5px 10px;
                font-size: 16px;
                text-transform: uppercase;

                &::placeholder{
                    color: rgb(202, 202, 202);
                }
            }
        }

        .container-date-and-cvv{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5px; 
        }

        /* BUTTON FINALIZE */
        .btn-finalize{
            background-color: $blue;
            width: 100%;
            height: 40px;
            border-radius: 20px;
            font-size: 18px;
            text-transform: uppercase;
            color: $white;
            font-weight: 500;
            cursor: pointer;
            user-select: none;

            &:hover{
                background-color: rgba($blue , 0.8);
            }
        }
    }
}

@media screen and (max-width: 540px) {
    #carpay{
        .card-container{
            width: 280px;
        }
        .form-card .container-date-and-cvv .inputBox {
            width: 100%;
        }


        .card-number-box{
            font-size: 16px;
        }

        .card-container{

            /* FRONT CARD */
            .front-card{
                .image-container .chip-card{
                    width: 50px;
                    height: 35px;
                }

                .card-number-box{ font-size: 16px; }

                .container-card-info .card-info{
                    margin-top: 20px;
                    font-size: 12px;    
                }
            }

            /* BACK CARD */
            .back-card{
                .card-info-cvv {
                    span{ font-size: 12px;}
                    .cvv-box{ font-size: 12px;}
                }
            }
        }
    }
}